.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 20px;
}
.book-container{
    display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px;
}
.cart-container{
    display: grid;
   
    background-color:   rgba(151, 148, 144, 0.3) ; 
   position: sticky;
    border-radius: 20px;
    margin-top: 20px;
   }
   .cart-btns{
       display: grid;
       gap: 10px;

   }
   .slected-btn{
       height: 50px;
       width: 200px;
       margin: 20px;
       border-radius: 20px;
       background-color: antiquewhite ;
       border: 0ch;
   }
   .slected-btn:hover{
       background-color:rgb(255, 184, 41);
   }
.book-name{
    border: 5px;
  
 }
   @media screen and (max-width:2000px){
    .book-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 600px) {
    .book-container{
        grid-template-columns: repeat(1,1fr);
  }
}