.book{
    margin-top: 40px ;
    border: 1px solid #95a0a7;
    border-radius: 8px ;
    position: relative;
    padding: 5px;
    width: 200px;
    height: 500px;
}
.book img{
    height: 280px;
    width: 180px;
}
.book-info{
    margin:0px 14px;
}
.book-name{
    margin: 10px;
    top: 0%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
 
}
.button-cart{
    width: 100%; 
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
 }
 .button-cart:hover{
    background-color: rgb(255, 184, 41);
    }
    .btn-text{
        margin-right: 5px;
    }